@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

*{
    margin: 0%;
    padding: 0%;

}


body{
    background-color: rgb(227, 197, 237);
    color: rgb(49, 34, 64);
    font-family: "Roboto", Merriweather;
}

.cabecalho{
    background-color: rgb(134, 72, 151);
    text-align: center;
    padding: 20px;
}
.imagem-piblee{
    width: 100px;
    height: 100px;
}

main{
    background-color: violet;
    color: rebeccapurple;
    max-width:1300px;
margin: 0 auto;
padding: 16px;
}